*{
    box-sizing: border-box;
   
}

.label{
    border: 1px solid black;
    padding: 0px 7px;
    width: 300px;
    height: 510px;
    margin: 20px auto;
}
.nutrition-facts h1{
   text-align: center;
   text-transform: uppercase;
   font-weight: 800;
   font-size: 1.8rem;
   margin-bottom: 2px;
}
.divider{
    border-bottom: 1px solid gray;
}
.nutrition-facts{
    margin: -5px 2px;
}
.bold{
    font-weight: 700;
    font-size: 15px;
}
.serving-size p{
    display:flex;
    justify-content: space-between;

}
.large-divider{
    border-bottom: 0.7em solid black;
    margin: 4px 0px;

}
.nutrition-facts p{
    margin: 0
}
.calories-info p{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin-top: -18px;
    margin-bottom: 0;
}
.medium-divider{
    border-bottom: 0.3em solid black;  
}
.right{
    text-align: right;
    margin: 0;
}
.normal{
    font-weight: 400;
    text-align: left;
}
.daily-value p{
   display: flex;
   justify-content: space-between;
   margin: 0;
}
.intend{
    margin-left: 10px;
}
.italic{
    font-style: italic;
}
.double-intend{
    margin-left: 25px;
}
.note{
    font-size: 10px;
}